@model IEnumerable<ConsumeApi.Models.SMAT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SYMBOL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SERIES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIMESTAMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLOSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sma05)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sma10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sma15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sma20)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sma50)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SYMBOL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SERIES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIMESTAMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLOSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sma05)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sma10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sma15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sma20)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sma50)
        </td>
       
    </tr>
}

</table>
