@model IEnumerable<APIConsume.Models.Nse>

@{
    ViewData["Title"] = "Index";
}

<h2>WatchList</h2>
<form asp-action="Index" method="post">
    <p>
        <script src="https://kit.fontawesome.com/612893f2a3.js" crossorigin="anonymous"></script>
        <hr>
        <a asp-action="Create">Create New Watchlist</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label style="color:darkgreen">Search watchlist : </label>

        <input type="text" name="watchlist" value="" style="border-color:black" />
        <input type="Submit" value="Search" style="color:#000000" /><br />

       
        <div>

        </div>
        <hr />
        <script>
            $(document).ready(function () {

            });
        </script>

    </p>
    </form>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Watchlist_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Symbol)
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Watchlist_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Symbol)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>*@
                <td>
                    <a class="btn btn-primary" title="Details" asp-action="Edit" asp-route-Id="@item.Id"><i class="fas fa-edit"></i> </a>
                    <a class="btn btn-primary" title="Details" asp-action="Details" asp-route-Id="@item.Id"><i class="fas fa-info-circle"></i> </a>
                    <a class="btn btn-danger" title="Delete" asp-action="Delete" asp-route-Id="@item.Id"><i class="fas fa-trash-alt"></i> </a>
                </td>

                </tr>
            }
        </tbody>
    </table>
