@model IEnumerable<APIConsume.Models.Nse>

@{
    ViewData["Title"] = "Index";
}

<h2>WatchList</h2>

<p>
    <a asp-action="Create">Create New Watchlist</a>
</p>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Watchlist_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Watchlist_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>*@
                
            </tr>
        }
    </tbody>
</table>
