@model IEnumerable<APIConsume.Models.SMAT>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" method="post">
    <div>
        <p>

            Search TIMESTAMP: <input type="date" name="searchValue" value="" /><br /><br />
            Search SYMBOL: <input type="text" name="searchValue" value="" />


            <input type="Submit" value="Search" />
            <a asp-action="Index"> Filter</a>


        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SYMBOL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIMESTAMP)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.OPEN)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CLOSE)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.HIGH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOW)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.TOTTRDQTY)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.sma05)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sma10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sma15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sma20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sma50)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.sma200)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Avg_Price_5days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avg_Vol_20day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relative_Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekHigh52)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekLow52)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Away_52WeekHigh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Away_52WeekLow)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SYMBOL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIMESTAMP)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.OPEN)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CLOSE)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.HIGH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOTTRDQTY)
            </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.sma05)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sma10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sma15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sma20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sma50)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.sma200)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avg_Price_5days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avg_Vol_20day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relative_Volume)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.WeekHigh52)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekLow52)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Away_52WeekHigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Away_52WeekLow)
            </td>*@

        </tr>
        }
    </tbody>
</table>
